body {
  margin: 0;
  padding: 0;
  display: flex; /* Adding flex display to the body for full-width alignment */
  background-color: #eee;
}

.container {
  flex: 1; /* Allow the container to occupy available space */
  display: flex;
  flex-direction: column; /* Stack content vertically */
  justify-content: flex-start; /* Align content to the top */
  padding-top: 20px; /* Adjust top padding */
}

#container {
  align-items: left; /* Center content horizontally */
  margin-left: 25px;
}

.content{
  width: 80%;
}

.question {
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  background: #bdc3c7;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.control-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.control-buttons button {
  padding: 5px 10px;
  background: #3498db;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  margin: 0 5px;
}

.control-buttons select {
  padding: 5px 10px;
  color: #333333;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
}
.control-buttons button:hover {
  background: #2980b9;
  cursor: pointer;
}
.control-buttons .speed-set {
  margin-left: 15px;
}
.progress-bar {
  height: 15px;
  width: 500px;
  background: #eee;
  margin-top: 10px;
  position: relative;
}
.progress-bar-slider {
  width: 1px;
  height: 15px;
  background: #f00;
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
}
.editors {
  display: flex;
  width: 100%; 
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
}
.editors > div {
  border: 1px solid #bdc3c7;
  flex-basis: 400px;
  flex-grow: 1;
  border-radius: 5px;
  overflow: scroll;
  max-width: 100%;
}
.editors > div h3 {
  background: #bdc3c7;
  margin: 0;
  font-size: 14px;
  text-align: center;
  line-height: 24px;
}

#chat-area{
  width: 19%;
  max-width: 19%;
  align-self: flex-end;
  margin: 0 auto;
  height: 500px;
  overflow:hidden;
  border: 1px solid gray;
  border-radius: 4px;
  position: absolute;
}

#ask {
  width: 19%;
  align-self: flex-end;
  margin: 0 auto;
  border-radius: 4px;
  position: absolute;
  border: 1px solid gray;
}

.side-panel-hidden {
  display: none;
}

.side-panel {
  display: auto;
}

.input {            
  width: 100%;
}

.submit-area{
  justify-content: center;
  display: flex;
  margin: 20px auto;
  width: 80%;            
}       

textarea {
  width: 100%;
}

.box {
  width: 96%;
  margin: 0 auto;
  padding: 10px 10px;
  background-color: #C4DBFE;
  margin: 10px auto;            
}

.answer {
  background-color: aquamarine;
}

button {
  background-color: aquamarine;
  color: black;
  padding: 10px 10px;
  border-radius: 5px;
  border: none;
}

.submit-form{
  display: flex;
  position: absolute;
  bottom: 0;
}

.CodeMirror{
  height: 408px;
}

.CodeMirror-wrap pre {
  word-break: break-word;
}

#hide {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50px;
}